<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %>,</h1>
    <p>
      To change your password, click this <a href="<%= @link %>"> link </a>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>