<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to CopWatch, <%= @user.name %></h1>
    <p>
      Before you can use your account, please verify your email by clicking this <a href=<%= @link %>>link</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>