<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Welcome to CopWatch <%= @user.first_name.titleize %> </p>
    <p>
      To start using your account, please verify your email by using this code <%= @token %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>