= render "admin/shared/header"
= render "admin/shared/sidebar"
%section.content.profile-page
  = render "admin/shared/content_header"
  .container-fluid
    .row.clearfix
      = render "admin/email_templates/form"