/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require_self
 */

@import "froala_editor.min";
@import "froala_style.min";

@font-face {
  font-family: 'Material-Design-Iconic-Font';
  src: font-url('Material-Design-Iconic-Font.woff2');
}

body.theme-blush {
  background: #000528;

  .sidebar {
    li a:hover { color: #986ca1 !important; }

    li.active {
      &.open {
        i, span { color: #986ca1 !important; }
      }
    }
  }

  .btn-primary,
  .navbar,
  section.content:before { background: #986ca1; }

  .card .header {
    h2:before,
    h2 strong { color: #986ca1; }

    h2:before { background: #986ca1; }
  }
}

.page-header:before { background-color: inherit; }

.authentication .card-plain .logo-container {
  min-width: 150px !important;

  label {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #986ca1;
  }
}

.hide { display: none !important; }
.hidden { visibility: hidden !important; }

.flash-message {
  font-size: 18px;
  text-align: center;

  .notice, .alert { margin-bottom: 0; }
}

.sidebar {
  .user-info .image img {
    min-width: 80px;
    min-height: 80px;
  }
}

.add-button {
  display: flex;
  align-items: center;

  i { margin: auto; }
}

#page_form {
  .form-group textarea.no-resize { min-height: 180px; }
  .fr-box { display: none; }
}

@media only screen and (max-width: 767px) {
  .authentication {
    .logo-container img { max-width: 120px !important; }
    .card-plain .logo-container label {
      font-size: 16px;
      font-weight: 500;
    }
  }
}