- if flash[:success].present?
  .alert.alert-message.alert-success= flash[:success]
- elsif flash[:error].present?
  .alert.alert-message.alert-danger= flash[:error]
- else
  .alert.alert-message.no-message= "No Message"